# GET ARTICLES IN NOTION
NOTION_TOKEN=
NOTION_DATABASE_ID=

# NEXT-AUTH
GITHUB_ID=
GITHUB_SECRET=
NEXTAUTH_URL=
NEXTAUTH_SECRET= # in $bash: "openssl rand -base64 32"
# USER ADMIN CREDENTIALS
CREDENTIAL_USER_NAME=
CREDENTIAL_USER_EMAIL=
CREDENTIAL_USER_PASSWORD=
CREDENTIAL_USER_ROLE=

# NOVEL.Sh
OPENAI_API_KEY=
BLOB_READ_WRITE_TOKEN=
