@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./navbar.css";
@import "./radix-menu.css";
@import "./curriculo.css";

body, html{
  width: 100%;
  height: 100%;
  margin: 0;
}

.header__background {
  @apply

  bg-[url("https://darlley.github.io/images/header.jpg")]
  bg-fixed
  bg-cover
}
.header__opacity{
  @apply

  bg-primary-500
  bg-opacity-50
  w-full
  h-full
}

.header__content {
  @apply

  h-screen
  m-auto
  max-w-6xl
  relative
}
.header__container{
  @apply

  m-auto
  max-w-6xl
  p-8
}


.profileCard_container{
  @apply

  relative p-6 border-2 border-dashed rounded-full border-spacing-4 border-primary-100
}

.profile_card{
  @apply

  w-[200px] h-[200px] p-1 border-8 rounded-full hover:border-secundary-500 cursor-pointer transition-all duration-500 z-0
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

.header__page{
  @apply

  bg-black
  bg-cover
  bg-center
  
  relative
  flex
  flex-col
  gap-8
}
.page__title{
  @apply

  h-[15vh]

  flex
  w-full
  items-center
  justify-center

  relative
}
.page__title.thumbnail{
  @apply

  h-[40vh]
}
.page__title h1{
  @apply

  text-4xl
  text-white
  font-bold
}
.citation{
  @apply

  w-11/12
  md:w-6/12
  text-center
  absolute
  bottom-4
  flex
  text-white
  text-xs
  italic
}

.app__content{
  @apply

  flex
  flex-col
}
.content__about{
  @apply

  m-auto
  max-w-6xl
  w-full

  flex
  justify-between
  items-center
  py-8
  px-4
  2xl:px-0
}
.content__about h3{
  @apply

  text-xl
}
.content__about button{
  @apply

  text-sky-400
  hover:bg-slate-100
  p-2
  rounded-full
}

.articles__container{
  @apply

  m-auto
  max-w-6xl
  w-full

  flex
  flex-col

  px-4
}
.articles{
  @apply

  flex
  flex-col

  justify-between
  box-content

  gap-2
}
.article{
  @apply

  relative
  box-content

  before:w-full

  before:h-[1px]
  before:bg-opacity-25
  before:bg-gray-500
  before:absolute
  before:top-0
  before:box-content

  py-4
}

.notion{
  @apply

  flex
  flex-col
  gap-2
}

.card__scrollbar::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
}
.card__scrollbar::-webkit-scrollbar-thumb {
    background-color: #62dafc;
}
.card__scrollbar::-webkit-scrollbar-track {
  background: rgba(255,255,255,.1);
}


